[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
flask = "*"
python-dotenv = "*"
flask-smorest = "==0.45.0"
sqlalchemy = "==2.0.36"
flask-sqlalchemy = "==3.1.1"
flask-jwt-extended = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
